.main-div-about{
    display: flex;
    background: whitesmoke;
    /* border: 2px solid black; */
    width: 96vw;
    width: 96vw;
    /* height: 82vh; */
    height: auto;
    margin: 1.5rem;
    border-radius: 10px;
    /* padding: 1rem; */
    box-shadow: 0px 0px 10px 5px rgb(182 181 181);
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
}

.img-div{
    /* border: 2px solid black; */
    width: 96vw;
    height: 95vh;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url('../Gallery/IMG/Fri.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1rem;
}
.img-div p{
    color: white;
    word-break: break-all;
    padding: 1rem;
    font-size: 1.6vw;
    font-family: inherit;
    word-spacing: 1px;
    letter-spacing: 1px;
    line-height: 5vh;
    opacity: 0.6;
    cursor: pointer;
}
.img-div p:hover{
    opacity: 1;
    /* color: red; */
}
.about-content h1{
    color: darkgray;
    /* opacity: 0.6; */
   
}
.about-content {
    margin: 1rem;
    word-break: break-all;
    line-height: 25px;
    word-spacing: 1px;
    letter-spacing: 1px;
}